{% extends 'gabarit.html' %}

{% block title %}
<title>Myes Dashboard</title>
{% endblock %}
{% block body %}
<!--{% for acc in account %}-->
<!--    <h3>Total {{ acc.balance }} $ </h3>-->
<!--{% endfor %}-->

<!--{% for hold in holdings %}-->
<!--    <h3>{{ hold.currency.name }} {{ hold.value }} $</h3>-->
<!--{% endfor %}-->
<h2>Dashboard</h2>
<div class="container-dashboard">
    <div class="container-wallets">
        <div class="block-preview">
            {% for account in accounts %}
            <h3>Wallets | TOTAL : $ {{ account.balance }}</h3>
            {% endfor %}
            {% for wallet in wallets %}
                {% if wallet.value > 0 %}
                    <div class="wallet-preview">
                        {{ wallet.type }}
                        $ {{ wallet.value }}
                    </div>
                {% endif %}
            {% endfor %}
            <a href="{% url 'list-wallets' %}">Show more...</a>
        </div>
    </div>
    <div class="container-assets">
        <div class="block-preview">
            <h3>Assets</h3>
            {% for hold in holdings %}
            <div class="asset-preview">
                {{ hold.currency.id }} |
                $ {{ hold.value }} |
                {{ hold.gain_loss_holding }}
            </div>
            {% endfor %}
            <a href="#">Show more...</a>
        </div>
    </div>
    <div class="container-transactions">
        <div class="block-preview">
            <h3>Transactions</h3>
            {% for transaction in transactions %}
            <div class="transaction-preview">
                <div>
                    {{ transaction.date }}
                    {{ transaction.quantity }}
                    {{ transaction.currency }}
                    {{ transaction.price }}
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'list-transactions' %}">Show more...</a>
        </div>
    </div>
</div>

{% endblock %}
