{% extends 'gabarit.html' %}

{% block title %}
<title>Myes transactions</title>
{% endblock %}
{% block body %}
                <h1>Transactions</h1>
               {% for transaction in transactions %}
            <div class="transaction-preview">
                <p>
                    {{ transaction.date }}
                    {{ transaction.quantity }}
                    {{ transaction.currency }}
                    {{ transaction.price }}
                </p>
            </div>
            {% endfor %}

{% endblock %}