{% extends 'gabarit.html' %}

{% block title %}
<title>Portfolio</title>
{% endblock %}
{% block body %}
<!--{% for acc in account %}-->
<!--    <h3>Total {{ acc.balance }} $ </h3>-->
<!--{% endfor %}-->

<!--{% for hold in holdings %}-->
<!--    <h3>{{ hold.currency.name }} {{ hold.value }} $</h3>-->
<!--{% endfor %}-->
<h2>Dashboard</h2>
<div class="container-dashboard">
    <div class="container-wallets">
        <div class="block-preview">
            <h3>Wallets</h3>
            {% for account in accounts %}
            <div class="wallet-preview">
                <p>${{ account.balance }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-assets">
        <div class="block-preview">
            <h3>Assets</h3>
            {% for hold in holdings %}
            <div class="asset-preview">
                <p>{{ hold.currency.id }} ${{ hold.value }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-transactions">
        <div class="block-preview">
            <h3>Transactions</h3>
            {% for transaction in transactions %}
            <div class="transaction-preview">
                <p>
                    {{ transaction.date }}
                    {{ transaction.quantity }}
                    {{ transaction.currency }}
                    {{ transaction.price }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
