:root {
    --bg-app: linear-gradient(167.27deg, #211955 -23.57%, #000000 277.24%);
    --dark-purple: #211955;
    --purple: #2C1A6E;
    --light-purple: #716CB9;
    --sand: #F0E9E5;
    --special: linear-gradient(97.23deg, #DB5952 2.03%, #D435B7 98.53%);
}

body {
    height: 100vh;
    background: linear-gradient(#211955 -23.57%, #000000 277.24%);
    color: white;
}

menu {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--purple);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 372px;
    height: 42px;
}

.avatar {
    height: 75px;

}
