{% extends 'gabarit.html' %}

{% block title %}
<title>Moneyes</title>
{% endblock %}

{% block body %}

<div class="container-col-home">
    <div class="col">
        <h4>Login</h4>
    <form method="POST">
    {% csrf_token %}

    {{form_login.as_p}}

    {% for message in errors.values %}
    <h3 style="color: rebeccapurple;">
        {{ message }}
    </h3>
    {% endfor %}

    <input type="submit" value="Sign Up">
    </form>

</div>
    <div class="col">
        <h4>SignUp</h4>
     <form method="POST">
    {% csrf_token %}

    {{form_creation.as_p}}

    {% for message in errors.values %}
    <h3 style="color: rebeccapurple;">
        {{ message }}
    </h3>
    {% endfor %}

    <input type="submit" value="Sign Up">
    </form>
</div>
</div>



{% endblock %}