{% extends 'gabarit.html' %}

{% block title %}
<title>Portfolio</title>
{% endblock %}
{% block body %}
<section class="mx-auto">
    <h1>Delete transaction</h1>
    <form method="POST">
        {% csrf_token %}
        <h4>Are you sure you wish to delete this transaction ?</h4>
        <p>Date : {{object.date}}</p>
        <p>Quantity : {{object.quantity}}</p>
        <p>Currency : {{object.currency}}</p>
        <p>Price : {{object.price}}</p>
        <input type="submit" value="Confirm">
    </form>
</section>
{% endblock %}
